name: Build and Push Docker Image

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

# Prevents multiple runs from trying to commit to the repo at the same time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Updated to v4
        with:
          token: ${{ secrets.PAT_TOKE }} # Use PAT here to ensure push permissions

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 # Updated to v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3 # Updated to v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check for new Nextcloud image
        id: check_nextcloud
        run: |
          docker pull nextcloud:latest
          NEXTCLOUD_IMAGE=$(docker inspect --format='{{index .RepoDigests 0}}' nextcloud:latest)
          echo "NEXTCLOUD_IMAGE=$NEXTCLOUD_IMAGE" >> $GITHUB_ENV

      - name: Load previous digest
        run: |
          if [ -f .nextcloud-digest.txt ]; then
            DIGEST_CACHE=$(cat .nextcloud-digest.txt)
          else
            DIGEST_CACHE=""
          fi
          echo "DIGEST_NEXTCLOUD_CACHE=$DIGEST_CACHE" >> $GITHUB_ENV

      - name: Process changes
        run: |
          if [ "$NEXTCLOUD_IMAGE" != "$DIGEST_NEXTCLOUD_CACHE" ]; then
            echo "New image detected."
            echo "$NEXTCLOUD_IMAGE" > .nextcloud-digest.txt
            echo "new_nextcloud_image=true" >> $GITHUB_ENV
          else
            echo "No changes."
            echo "new_nextcloud_image=false" >> $GITHUB_ENV
          fi

      - name: Commit and Push changes
        if: env.new_nextcloud_image == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git add .nextcloud-digest.txt
          git commit -m "Update Nextcloud image digest [skip ci]"
          
          # The Magic Fix: Pull latest changes and rebase your commit on top
          git pull --rebase origin main
          
          git push origin HEAD:main

      - name: Build and push Docker image
        if: env.new_nextcloud_image == 'true'
        run: |
          docker build -t edipdi/nc-with-ffmpeg-im:latest .
          docker push edipdi/nc-with-ffmpeg-im:latest
